<div class="header bg-gradient-gray pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Broj trenutnih kurseva</h5>
                  <span class="h2 font-weight-bold mb-0">2</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 20%</span>
                <span class="text-nowrap">Od proslog mjeseca</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Broj završenih kurseva</h5>
                  <span class="h2 font-weight-bold mb-0">12</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Od prošle sedmice</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Broj spremljenih kurseva</h5>
                  <span class="h2 font-weight-bold mb-0">7</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> Preostalo 12</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Procenat pregledanosti</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap"> Pregledano od prošle sedmice</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-md-12"> <!-- Create a column for the first row of videos spanning the full width -->
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Kurs 7 - C++</h3>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row video-examples">
            <div class="col-md-6">
              <!-- Video 1 -->
              <div class="video-container">
                <video controls width="100%">
                  <source src="./assets/img/brand/Video1.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button class="btn btn-primary btn-block">Prevedi video sa AI glasom</button>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Video 2 -->
              <div class="video-container">
                <video controls width="100%">
                  <source src="./assets/img/brand/Video2.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button class="btn btn-primary btn-block">Prevedi video sa AI glasom</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12"> <!-- Create a column for the second row of videos below the first row -->
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Kurs 8 - Python</h3>
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row video-examples">
            <div class="col-md-6">
              <!-- Video 3 -->
              <div class="video-container">
                <video controls width="100%">
                  <source src="./assets/img/brand/Video3.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button class="btn btn-primary btn-block">Prevedi video sa AI glasom</button>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Video 4 -->
              <div class="video-container">
                <video controls width="100%">
                  <source src="./assets/img/brand/Video4.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <button class="btn btn-primary btn-block">Prevedi video sa AI glasom</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
